/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: serif;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Navbar
 */
/*.navbar {
  display: none;
}*/

@media (min-width: 768px) {
  .navbar {
    display: none;
  }
}
/*
 * Sidebar
 */


/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    text-align: left;
    width: 215px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 2px solid #eee;
  }
}

.sidebar .fa {
  font-size: x-large;
  color: grey;
  padding: 3px 10px;
}

.sidebar-info {
  margin-top: 50px;
}

.sidebar-info ul {
  padding-left: 1px;
  list-style-type: none;
}

.sidebar-info img{
  display:block;
  margin:auto;
  height: 140px;
  width: 140px;
}

.sidebar-info a {
  font-size: 16px;
  font-family: serif;
  padding-bottom: 5px;
  text-decoration: none;
  color: #0ef319;
}

.sidebar-info a:hover,
.sidebar-info a:focus {
  font-weight: bold;
}


/* Sidebar navigation
.nav-sidebar {
  margin-right: -21px;  20px padding + 1px border
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
*/

/*
 * Main content
 */

.main {
  padding: 60px 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Project images
 */

.img_row .thumbnail {
  position:relative;
  overflow:hidden;
  height: 338px;
  border: 2px solid #ddd;
}

.img_row .thumbnail .img_caption{
  display: none;
  position:absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  color:#fff !important;
}

.img_row .thumbnail .img_footer{
  position:absolute;
  bottom: 40px;
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: -4px;
  text-align: center;
  background: #000;
  width: 100%;
  height: 60px;
  color: #0ef319;
}


.img_row .thumbnail h4 {
  text-align: center;
}

.img_row .thumbnail p {
    padding:6px;
}
