.streams {
  padding: 10px;
  text-align: left;
  height: 45px;
}

.streams .title{
  float: none;
  color: #000;
}

.streams span {
  color: red;
  float: right;
  height: 40px;
}

.streams:hover {
  font-weight: bold;
}


.streams  img {
  height: 40px;
  margin-top: -5px;
  margin-right: 5px;
  float: left;
}

.active{
  color: #0ef319;
  background-color: red;
}

.streamtable {
    margin-left:auto ;
    margin-right: auto;
    width: 270px;
}
.streamtable a {
  text-decoration: none;
}
.streamtable th{
    text-align: center;
    width: 20px;
    height: 30px;
}

.startTime{
    color: grey !important;
    font-size: x-small;
}

.streamtable input{
    margin: 10px;
    width: 250px;

}

.online{
  height: auto;
}

.online .streams {
  display: inline-block;
  width: 250px;
}

.online .streamexpand {
  display: inline-block;
  margin-left: -5px;
  width: 20px;
}

.info {
  display: none;
  width: 250px !important;
  margin-left: 10px;
  font-size: smaller;
  color: black;
}
