---
layout: default
title: Paul B.

footer: <script src='./js/index.js'></script>
---
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
        <h1>Paul B.</h1>
        <!-- <img src="{{ site.baseurl }}/files/140.jpg" alt="140x140" class="img-circle"> -->
    </div>
    <div class="col-md-6">
      <p>
      I am a developer that is continuing to learn and advance my knowledge in
      various programming areas based in the Atlanta metro area; where I am
      currently working on finishing <a href="http://freecodecamp.com/sesshoumaru404">Free Code Camp</a>
      courses, so I can work on
      thier nonprofit organization projects to get real work experience. Working on personal
      projects using the <a href="http://www.phoenixframework.org/">Phonix Framework  </a>
      which is written in <a href="http://elixir-lang.org/">Elixir</a>. Hoping to finish
      a project later this year.
      </p>
      <p>
        My passion is to use technology to create feature rich and
        innovative applications.
      </p>
      <p>
        Languages and Frameworks:  </br>
         </br>
        JavaScript, HTML5, CSS3, jQuery, Python, SQL, PostgreSQL, Bootstrap3.</br>
         </br>
        Tools & expertise:</br>
         </br>
        Git, Responsive Web Design, Databases.
      </p>
    </div>
  </div>
</div>
<div class="projects">
  {% include freecode.html %}
<div class='projects alt'>
  <a name="udacity"></a>
  <div class="row img_row">
    <h1>Udacity Projects</h1>
    {% include projects.html url="http://52.35.84.144/" title="Catalog" paragraph="Developed a content management system using the Flask framework in Python. Authentication is provided via OAuth and all data is stored within a PostgreSQL database." %}
    <div class="col-md-4" >
      <div class="thumbnail">
        <div class="img_footer">
          <h2>More Coming ...</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <h2 class='text-center'>Contact me</h2>
  <div class='row'>
    <div class='col-md-3'>
      <a href="https://github.com/Sesshoumaru404">
        <button class='btn btn-block' href='#' target='_blank'>Github</button>
      </a>
    </div>
    <div class='col-md-3'>
      <a href="https://www.linkedin.com/in/boayuepaul">
        <button class='btn btn-block' target='_blank'>LinkedIn</button>
      </a>
    </div>
    <div class='col-md-3'>
      <a href="https://profiles.udacity.com/u/paulb">
        <button class='btn btn-block' href='' target='_blank'>Udacity</button>
      </a>
    </div>
    <div class='col-md-3'>
      <a href="http://freecodecamp.com/sesshoumaru404">
        <button class='btn btn-block' target='_blank'>Free Code Camp</button>
      </a>
    </div>
  </div>
</div>
