<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">
      <div class='col-md-12'>
        <div class="navbar-header">
          </button> <a class="navbar-brand" href="#">My Portfolio</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="test.html">About</a>
          </li>
          <li>
            <a href="/zipline/calculator2.html">Portfolio</a>
          </li>
          <li>
            <a href="zipline/pomodoro/pomodoro.html">Test</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
