<div class="col-sm-3 col-md-2 sidebar">
  <div class="sidebar-info">
    <img src="{{ site.baseurl }}files/letter2.png" alt="140x140" class="img-circle">
    <h2>Paul</h2>
    <p>
      Programming portfolio, with projects and information
    </p>
    <div >
      <a href="https://github.com/Sesshoumaru404"><i class="fa fa-github fa-4"></i></a>
      <a href="https://www.linkedin.com/in/boayuepaul"><i class="fa fa-linkedin-square fa-4"></i></a>
      <a href="mailto:paul@boayue.net" target="_top"><i class="fa fa-envelope fa-4"></i></a>
    </div>
    <ul>
      <li><a href="{{ site.baseurl }}">Overview</a></li>
      <!-- <li><a href="#">Progress & Goals</a> <i class="fa fa-lock"></i></li> -->
      <li><h3>My projects:</h3></li>
      <li class="dropdown">
        {% if page.title == "Paul B." %}
          <a href="#freecode">Free Code Camp </a>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
        {% else %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Free Code Camp <span class="caret"></span></a>
        {% endif %}
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}zipline/calculator.html">Calculator</a></li>
          <li><a href="{{ site.baseurl }}zipline/pomodoro.html">Pomodoro</a></li>
          <li><a href="{{ site.baseurl }}zipline/twitchapi.html">Twitchapi</a></li>
          <li><a href="{{ site.baseurl }}zipline/weather.html">Quotes</a></li>
          <li><a href="{{ site.baseurl }}zipline/campernews.html">Camper News</a></li>
          <li><a href="{{ site.baseurl }}zipline/wiki.html">Wikipedia Viewer</a></li>
          <li><a href="{{ site.baseurl }}zipline/tic.html">Tic Tac Toe</a></li>
          <li><a href="{{ site.baseurl }}zipline/simon.html">Simone Game</a></li>
        </ul>
      </li>
      <li class="dropdown">
        {% if page.title == "Paul B." %}
          <a href="#udacity">Udacity</a>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
        {% else %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Udacity<span class="caret"></span></a>
        {% endif %}
        <ul class="dropdown-menu">
          <li><a href="http://52.11.159.100/">Catalog</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</div>
