<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media img-size">
        <img class="article-image" src="{{ site.baseurl }}files/catalog.png" border="0" alt="">
    </div>
    <div class="mdl-card__title hide-overflow">
        <h2 class="mdl-card__title-text">Catalog Web App</h2>
    </div>
    <div class="mdl-card__supporting-text card_body hide-overflow">
      Developed a content management system using the Flask framework in Python.
      Authentication is provided via OAuth and all data is stored within a
      PostgreSQL database.
    </div>
    <div class="mdl-card__actions mdl-card--border hide-overflow">
        <a class="mdl-button mdl-button--colored
         mdl-js-button
         mdl-js-ripple-effect
         mdl-button--accent"
         href="http://52.35.84.144/">
          Live Project
        </a>
    </div>
</div>
