<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/dropdown.js"></script>
    <title>{{ page.title }}</title>
    {{ page.head }}
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='container'>
      {% include header.html%}
      {{ content }}
    </div>
  </body>
</html>
